<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Not found!</h1>
      <p>Something went wrong, please check back later.</p>
      <a class="btn btn-info text-white" [routerLink]="['/home']">Return to home.</a>
    </div>
  </div>
</div>
