<div class="star-row">
  <div *ngFor="let index of createRange(10); let i = index;">
    <fa-icon
      [class]="'star-icon ' + getColor(currentDisplayRating)"
      (mouseenter)="mouseEnter(i+1)"
      (mouseleave)="mouseLeave(i+1)"
      (click)="sendRating(i+1)"
      [icon]="getIcon(i + 1)"
    ></fa-icon>
  </div>
</div>
