.star-row {
  display: flex;
  flex-direction: row;
}

.star-icon.red {
  color: red;
}

.star-icon.orange {
  color: orange;
}

.star-icon.yellow {
  color: yellow;
}

.star-icon.green {
  color: green;
}
