<app-navbar></app-navbar>

<div class="container mt-5" role="main">
  <h1>Contact</h1>
  <p>Stay in touch with us.</p>

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="input-group mb-3" [ngClass]="getValidationClass(fullName)">
      <input type="text" class="form-control" id="fullName" minlength="3" required [(ngModel)]="details.fullName" name="name" #fullName="ngModel" placeholder="Full name...">
      <div class="invalid-feedback d-block" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <span *ngIf="fullName.errors?.['required']">
        Full Name is required.
      </span>
        <span *ngIf="fullName.errors?.['minlength']">
        Full Name must be at least 3 characters long.
      </span>
      </div>
    </div>
    <div class="input-group mb-3" [ngClass]="getValidationClass(email)">
      <input email class="form-control" id="email" minlength="3" required [(ngModel)]="details.email" name="email" #email="ngModel" placeholder="Email...">
      <div class="invalid-feedback d-block" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors?.['email']">
          Not a valid email.
        </span>
        <span *ngIf="email.errors?.['required']">
          Email is required.
        </span>
      </div>
    </div>
    <div class="input-group mb-3" [ngClass]="getValidationClass(content)">
      <textarea class="form-control" id="content" minlength="10" required [(ngModel)]="details.content" name="content" #content="ngModel" placeholder="Content...">
      </textarea>
      <div class="invalid-feedback d-block" *ngIf="content.invalid && (content.dirty || content.touched)">
        <span *ngIf="content.errors?.['minlength']">
          Content must have at least 10 characters.
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-info text-white" [disabled]="myForm.invalid">
      Submit
    </button>
<!--    <button (click)="checkInvalid(myForm)">Check</button>-->
<!--    {{myForm.invalid}}-->
  </form>
</div>
