<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-8">
        <div *ngIf="isLoad" class="mt-2 d-flex flex-row">
          <div class="flex-grow-0">
            <img [src]="casterInfo.image.medium" alt="cast"/>
          </div>
          <div class="flex-grow-1 mx-4">
            <h3>{{casterInfo.name}}</h3>
            <p>
              <b>Gender:</b> {{casterInfo.gender}}<br/>
              <b>Birthday:</b> {{casterInfo.birthday}}<br/>
              <b>Country:</b> {{casterInfo.country.name}}<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
