<app-navbar></app-navbar>
<div class="container mt-5">
  <div *ngIf="isLoad === true">
    <div class="row mt-5">
      <div class="col-8">
        <h1 class="display-4">{{showName}}</h1>
        <div [innerHTML]="showDescription"></div>
        <div *ngIf="isLoad === true">
          <app-star-rating (ratingEvent)="onSendRating($event)" [rating]="showRating"></app-star-rating>
        </div>
        <div class="mt-5">
          <h3>Search for Caster</h3>
          <input
            class="form-control form-control-sm"
            (keyup)="filter()"
            placeholder="Input caster name / character name"
            [ngModel]="castQuery"
            (ngModelChange)="castQuery = $event"
          />
        </div>
        <div class="row mt-5">
          <div *ngFor="let caster of filteredCast; index as i;" [class]="'tv-caster ' + (i === 0 ? 'first' : '')"
               (click)="viewCaster(caster)">
            <img [src]="caster.person.image.medium" alt="cast"/>
          </div>
        </div>
        <div *ngIf="currentCaster" class="mt-2 d-flex flex-row">
          <div class="flex-grow-0">
            <img [src]="currentCaster.person.image.medium" alt="cast"/>
          </div>
          <div class="flex-grow-1 mx-4">
            <h3>{{currentCaster.person.name}}</h3>
            <h6>Casting {{currentCaster.character.name}}</h6>
            <p>
              <b>Gender:</b> {{currentCaster.gender ? 'Male' : 'Female'}}<br/>
              <b>Birthday:</b> {{currentCaster.person.birthday}}<br/>
              <b>Country:</b> {{currentCaster.person.country.name}}<br/>
            </p>
            <a class="btn btn-info text-white" [routerLink]="['/caster', currentCaster.person.id]">Show more details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img [src]="showImg" class="figure" alt="figure"/>
      </div>
    </div>
  </div>
</div>
