/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.tv-caster {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: -20px;
  border-radius: 30px;
  padding: 0;
  overflow: hidden;
  border: 2px solid white;
}
.tv-caster.first {
  margin-left: 0;
}
.tv-caster:hover {
  z-index: 999;
}
.tv-caster:hover:after {
  content: 'View';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  line-height: 60px;
  text-align: center;
  background-color: #00000088;
  color: #FFF;
}

.tv-caster img {
  width: 100%;
}
