<app-navbar></app-navbar>
<div class="container mt-5" role="main">
  <div class="row">
    <div class="col-12">
      <h1>Welcome!</h1>
      <p>
        Use search box at top-right corner to search any of your favorite show.
      </p>
    </div>
  </div>
</div>
